:root {
    --ink-color: #282928;
    --charcoal-color: #363838;
    --papel-color: #f9f6ef;
    --canvas-color: #eae6e0;
}

/*
f4f4f4
ececec
f0ecec 

2c2c2c
242425
1c1c1c
*/

/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-card h3 {
    font-size: 1.5rem;
    margin: 15px;
}

.product-card p {
    font-size: 1rem;
    color: #666;
    margin: 0 15px;
    padding-bottom: 15px;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007BFF;
    margin: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

